.library-card {
    display: flex;
    width: 12.5rem;
    height: 4.2rem;
    background-color: #096161;
    color: beige;
    font-size: 15px;
    padding:.5rem;
    padding-bottom: 1rem;
    margin-right: 1.4rem;
    margin-bottom: .2rem;
}

.delete {
    display: flex;
    align-self: flex-start;
    color: red;
    width: 2rem;
    height: 1.4rem;
    margin-left: 1.3rem;
}

.edit {
    display: flex;
    align-self: flex-end;
    width: 2rem;
    background-color: transparent;
    border: none;
    color: rgb(87, 199, 214);
}

.edit_label {
    display: flex;
    align-self: flex-end;
    color: rgb(145, 242, 255);
}